<div class="user-details">
  <h1> Featured Projects</h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reward img" src="{{ "/assets/img/math2code.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Math to Code Converter<br><img src="https://img.shields.io/badge/python-3.7-blue.svg"></h3>
    <ul>
      <li>Flask Web Application</li>
      <li>AWS RDS (PostgreSQL)</li>
      <li>Google Analytics</li>
    </ul>
    <p>Integrated API calls into our codebase as well as set up a PostgreSQL database to store all user signup information.
      I used Google Analytics to monitor and analyze network data of our website to determine if we were meeting certain goals.
      Other Duties: Front-End design using Bootstrap4, Back-End support using Flask.</p>
    <a class="project-link" href="http://math2code.com">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="reward img" src="{{ "/assets/img/rates.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>California Suicide Rate Prediction<img src="https://img.shields.io/badge/python-3.7-blue.svg"></h3>
    <ul>
      <li>PySpark Distributed Computing </li>
      <li>AWS EMR </li>
      <li>H2O Machine Learning </li>
    </ul>
    <p>Used PySpark and an EMR distributed system on AWS to conduct an analysis of the flow of opioids throughout the United States.
      We analyzed the feature importance of an XGBoost Model to determine whether or not a relationship existed between number of opioids in a geographical region and the suicide rate in that region.</p>
    <a class="project-link" href="https://github.com/arianamoncada/opioid_distributed_machine_learning">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reward img" src="{{ "/assets/img/home_sold.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Forecasting Zillow Median Home Prices<br><img src="https://img.shields.io/badge/python-3.7-blue.svg">
      <img src="https://img.shields.io/badge/statsmodels-0.10.1-blue.svg"></h3>
    <ul>
      <li>Time Series Analysis</li>
      <li>Univariate and Multivariate Modeling</li>
    </ul>
    <p>Compared various traditional time series models to determine which predicted the best median home price.
      A Trend-Exponential Smoothing model performed the best amongst an analysis of 17 models.</p>
    <a class="project-link" href="https://github.com/arianamoncada/time-series-project">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="reward img" src="{{ "/assets/img/sentiment.png" | prepend: site.baseurl }}" />
  </div>
  <br>
  <div class="contents-right">
    <h3>Sentiment Analysis of 2016 US Presidential Election Ads<br>
    <img src="https://img.shields.io/badge/python-3.7-blue.svg"></h3>
    <ul>
      <li>Data Visualization</li>
      <li>Sentiment Analysis</li>
    </ul>
    <p>Through data visualization we analyzed Social Media Ad sentiment and frequencies leading up to both the primary and general election dates of the 2016 US Presidential Election.</p>
    <a class="project-link" href="https://github.com/arianamoncada/dataviz_RussianAds">Check it out</a>
  </div>
</div>